<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
      integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="src/styles/index.css" />
    <title>homepage</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row home">
        <div class="col-md-4 offset-md-1">
          <div class="d-flex justify-content-center mb-4">
            <img
              class="rounded-circle"
              src="src/images/foto.jpeg"
              alt="lucas"
              width="150"
              height="150"
            />
          </div>
          <div class="text-center">
            <h4>Lucas Henrique Cardoso</h4>
            <p>Solution Architect</p>
          </div>
          <div class="d-flex justify-content-center">
            <a href="https://github.com/luucashc" class="mr-3" target="_blank">
              <img src="src/images/logo/github.png" alt="git" width="35" />
            </a>
            <a
              href="https://www.linkedin.com/in/luucascardoso/"
              class="mr-3"
              target="_blank"
            >
              <img
                src="src/images/logo/linkedin.png"
                alt="linkedin"
                width="35"
              />
            </a>
            <a href="#mail">
              <img src="src/images/logo/gmail.png" alt="gmail" width="35" />
            </a>
          </div>
        </div>
        <div class="col-md-4 offset-md-1">
          <p class="text-center">
            Graduated in systems analysis and development, I've been working
            with software since 2018. I have experience with cloud computing (<a
              href="https://luucashcawsbucket.s3.us-west-1.amazonaws.com/certificates/luucashc-aws-certified.pdf"
              target="_blank"
              >AWS Certified</a
            >), System Design, Event Driven Architecture and Serverless
            computing. I develop with languages like Typescript NodeJS, Go, PHP,
            Phyton and some frameworks. Today, I'm intending to specialize in
            back-end (Solutions Architect).
          </p>
        </div>
      </div>
    </div>

    <div class="container skills">
      <h1>Skills</h1>
      <div class="row">
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-node"></i>
          </div>
          <p class="text-center mt-3">TypeScript</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-node"></i>
          </div>
          <p class="text-center mt-3">NodeJS</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-php"></i>
          </div>
          <p class="text-center mt-3">PHP</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-laravel"></i>
          </div>
          <p class="text-center mt-3">Laravel</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-python"></i>
          </div>
          <p class="text-center mt-3">Python</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-google"></i>
          </div>
          <p class="text-center mt-3">Go</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fas fa-code"></i>
          </div>
          <p class="text-center mt-3">AI</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fas fa-code"></i>
          </div>
          <p class="text-center mt-3">Serverless</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-aws"></i>
          </div>
          <p class="text-center mt-3">Amazon Web Services (AWS)</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-aws"></i>
          </div>
          <p class="text-center mt-3">Elastic Container Service</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-aws"></i>
          </div>
          <p class="text-center mt-3">Lambda Function</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-aws"></i>
          </div>
          <p class="text-center mt-3">Simple Queue Service</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-aws"></i>
          </div>
          <p class="text-center mt-3">Managed Streaming Kafka</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-aws"></i>
          </div>
          <p class="text-center mt-3">Simple Storage Service</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-aws"></i>
          </div>
          <p class="text-center mt-3">Relational Database Service</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-aws"></i>
          </div>
          <p class="text-center mt-3">DynamoDB</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-html5"></i>
          </div>
          <p class="text-center mt-3">HTML</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-css3-alt"></i>
          </div>
          <p class="text-center mt-3">CCS</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-js"></i>
          </div>
          <p class="text-center mt-3">JavaScript</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-react"></i>
          </div>
          <p class="text-center mt-3">React</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-docker"></i>
          </div>
          <p class="text-center mt-3">Docker</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="far fa-eye"></i>
          </div>
          <p class="text-center mt-3">New Relic</p>
        </div>
        <div class="col-md-3 mb-5">
          <div class="skills_icons">
            <i class="fab fa-github"></i>
          </div>
          <p class="text-center mt-3">GitHub</p>
        </div>
      </div>
    </div>

    <div class="container-fluid career">
      <div class="container">
        <h1>Career</h1>
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="mb-1">
              <h3>MadeiraMadeira</h3>
              <small>Staff Engineer | 2024 - atual</small>
            </div>
            <p>Customer Experience - Tech</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6 offset-md-7">
            <div class="mb-1">
              <h3>MadeiraMadeira</h3>
              <small>Tech Lead - Senior Software Engineer | 2021 - 2024</small>
            </div>
            <p>
              Nowadays I work in the Customer Communication squad, which is
              responsible for the post-purchasing communication, customer and
              salespeople satisfaction surveys among others. I'm responsible for
              the maintaning or creating apps, solutions and internal and
              external process automations when needed, API's among other cloud
              solutions with errors monintoring.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-1">
              <h3>MadeiraMadeira</h3>
              <small>System Analyst | 2020 - 2021</small>
            </div>
            <p>Customer Communication - Tech</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6 offset-md-7">
            <div class="mb-1">
              <h3>Straube Design & Tech</h3>
              <small>Developer | 2018 - 2020</small>
            </div>
            <p>
              Experience back-end and front-end with API's, PHP, Laravel, Lumen,
              MySQL, MariaDB, PostgresSQL, ReactJS and VueJS.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid business-footer">
    </div>

    <footer>
      <p class="mb-0">© copyright 2025</p>
    </footer>
  </body>
</html>
