html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}
body {
  background-color: $white;
}
h1, h2 {
  font-family: $font-ubuntu;
  font-weight: 400;
}
h4 {
  color: $white;
}
h2 {
  color: $black;
}
p, a {
  color: $white;
  font-size: 18px;
  font-family: $font-ubuntu;
  font-weight: 300;
  line-height: 30px;
}

/* First block */
.home {
    // background-attachment: fixed;
    background-image: url("images/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    padding: 180px 0 150px 0;
    position: relative;
    &::before {
        background-color: rgba(23, 23, 23, 0.7);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &_text {
        padding-top: 100px;
    }
}

.skills {
    padding-bottom: 100px;

    &_icons {
        display: flex;

        i {
            font-size: 100px;
            margin: auto;
        }
    }

    h1 {
        font-size: 50px;
        margin-bottom: 70px;
    }

    p {
        color: $black;
    }
}

.career {
    background-color: #F7F7F7;
    border-top: solid 1px #CDCDCD;
    border-bottom: solid 1px #CDCDCD;
    padding-top: 100px;
    padding-bottom: 200px;

    &_box {
        background-color: #326CE5;
        padding: 50px 20px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 70px;
    }

    h3 {
        color: $white;
    }
}
.career_art {
    background-image: url("images/business.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.contact {
    padding: 100px 0;

    &_details {
        display: grid;
    }

    &_social {
        i {
            font-size: 50px;
        }
    }

    h1 {
        font-size: 50px;
        margin-bottom: 70px;
    }

    a {
        color: $black;
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 50px;

        i {
            color: #BA2B34;
        }

        &:hover {
            text-decoration: none;
            color: #326CE5;
        }
    }
}

footer {
    background-color: #F7F7F7;
    border-top: solid 1px #CDCDCD;
    height: 50px;
    padding-left: 30px;
    padding-top: 10px;

    p {
        color: $black;
    }
}
