
// --
// Variables
// --
//

/** Fonts **/
$font-barlow: 'Barlow', 'sans-serif';
$font-ubuntu: 'Ubuntu', 'sans-serif';

/** Colors **/

$bg-gray: #F7F7F7;

$white: #fff;
$black: #151515;
$gray: #706F6F;
$grayDark: #091017;
