
// --
// Variables
// --
//

/** Fonts **/
$font-barlow: 'Barlow', 'sans-serif';
$font-work-sans: 'Work Sans', 'sans-serif';
$font-titillium-web: 'Titillium Web', 'sans-serif';

/** Colors **/

$bg-gray: #F7F7F7;

$white: #fff;
$black: #151515;
$gray: #706F6F;
$grayDark: #091017;
