html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h4,
p,
a {
  font-family: "AmazonEmber","Helvetica", "Arial", sans-serif;
}

a {
  color: #ffffff;
}

/* First block */
.home {
  background-image: url("./src/images/fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  padding: 180px 0 150px 0;
  position: relative;
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .description {
    padding: 0px 50px;
  }

  .apresentation div a {
    margin-right: 10px;
  }

  div {
    align-content: center;
    z-index: 1;
  }

  h4 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }

  img {
    margin-bottom: 20px;
    object-fit: cover;
  }
}

.skills {
  padding-bottom: 100px;

  .skills_icons {
    display: flex;

    i {
      color: #eaeded;
      font-size: 100px;
      margin: auto;
    }
  }

  .row div {
    margin-bottom: 50px;
  }

  h1 {
    color: #161d26;
    font-size: 50px;
    margin-bottom: 100px;
  }

  p {
    color: #161d26;
    font-weight: 600;
    margin-top: 30px;
  }
}

.career {
  background-color: #eaeded;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
  padding-top: 100px;
  padding-bottom: 200px;

  .row {
    margin-bottom: 50px;
  }

  h1 {
    color: #161d26;
    font-size: 50px;
    margin-bottom: 100px;
  }

  h3 {
    color: #161d26;
  }

  small {
    color: #161d26;
  }

  p {
    color: #161d26;
  }
}

footer {
  background-color: #161d26;
  padding: 30px;

  p {
    color: #eaeded;
  }
}
